body {
    background: #F7F7F7;
    font-family: 'Montserrat', sans-serif;
}

.bg-accent {
    background: #FEC93D;
}

.bg-secondary {
    background: #0071EB;
}

.text-primary, h1, h2, p {
    color: black;
}

.text-secondary {
    color: #243257;
}

.w-almost-1\/2 {
    width: 49%;
}

.h-almost-1\/2 {
    height: 49%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
