<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="icon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <style>
        body {
            background: #5795F8;
            font-family: 'Montserrat', sans-serif;
        }

        .bg-accent {
            background: #FEC93D;
        }

        .bg-secondary {
            background: #0071EB;
        }

        .text-primary, h1, h2, p {
            color: white;
        }

        .text-secondary {
            color: #243257;
        }

        .w-almost-1\/2 {
            width: 49%;
        }

        .h-almost-1\/2 {
            height: 49%;
        }

        .square:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        polygon {
            fill: none;
            stroke: #243257;
            stroke-width: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="loading" class="container h-screen flex flex-col p-10 mx-auto max-w-3xl">
            <!-- Varsity logo written (not drawn) in SVG! The lines are 5:7:1:7. -->
            <svg viewbox="0 0 270 380" class="block max-w-full mx-auto mb-10" width="135" height="190">
                <polygon points="10 10 260 10 160 374.0054944640259 110 374.0054944640259"></polygon>
            </svg>
            <h1 class="text-center text-2xl">Martha Bridge Gifting Test</h1>
            <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Duis nec sapien ut lacus aliquet convallis a nec erat.
                Nullam pellentesque odio at augue gravida, feugiat malesuada felis elementum.
                Nulla lorem felis, tempor inelementum vel,
                euismod ac dolor. Sed eleifend auctor velit, et suscipit massa vulputate sed.
            </p>
            <div id="loading-btn" class="mt-24 w-full border px-4 py-2 rounded mb-3 cursor-not-allowed opacity-80 bg-accent text-secondary text-center">Loading</div>
            <div id="start" class="hidden">
                <h2 class="text-2xl mb-4">What's your name?</h2>
                <input type="text" v-model="name" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5" autofocus />
                <a href="#quiz" class="block w-full border px-4 py-2 rounded mb-3 bg-accent text-secondary text-center">Let's begin!</a>
            </div>
        </div>
        <div id="quiz" class="hidden">
            <div v-for="(question, index) in questions" :id="'question-'+index" class="container min-h-screen p-10 mx-auto flex flex-col max-w-3xl">
                <h2 class="text-2xl">{{question.question}}</h2>
                <p v-if="question.hasImages" class="text-xs">(Choose an image)</p>
                <div class="answers my-10" :class="question.hasImages ? 'flex flex-wrap justify-between' : ''">
                    <div v-for="(answer, indexb) in question.answers" :class="question.hasImages ? 'w-almost-1/2 square border rounded-lg relative mb-2' : ''">
                        <button v-if="!answer.imageurl" class="w-full border px-4 py-2 rounded mb-3" @click="selectAns(question, answer.tag, indexb)" :class="indexb == question.selection? 'bg-accent text-secondary' : 'bg-secondary text-primary' ">{{answer.ans}}</button>
                        <img v-if="answer.imageurl" :src="answer.imageurl" class="object-cover w-full h-full cursor-pointer rounded-lg absolute" @click="selectAns(question, answer.tag, indexb)" :class="indexb == question.selection? 'border-4 border-yellow-500' : '' " />
                    </div>
                </div>
                <button v-if="index != questions.length-1" @click="goToNext(index)" class="w-full border px-4 py-2 rounded mb-3 bg-secondary text-primary">Next</button>
                <button v-if="index == questions.length-1" @click="goToResults()" class="w-full border px-4 py-2 rounded mb-3 bg-secondary text-primary">Next</button>
                <button v-if="index != 0" @click="goToPrev(index)" class="text-xs text-primary">Go back</button>
            </div>
            <div id="answers" class="container h-screen p-10  mx-auto flex flex-col max-w-3xl">
                <div v-if="tags.length > 0">
                    <div class="">
                        <h1 class="text-xl font-semibold">Hey {{name ? name : 'there'}}!</h1>
                        <p class="text-l">
                            <span v-for="(tag, index) in tags">You {{tag.you}}. </span>
                        </p>
                        <h2 v-if="teams.length > 0" class="text-xl my-6">We think these teams will be most blessed if you join them:</h2>
                        <div v-for="(team, index) in teams" class="border border-solid px-4 py-2 my-2 bg-accent">
                            <div class="font-bold block flex flex-wrap justify-between items-center text-xl" @click="openTeam(index)">
                                {{team.team}}
                                <svg v-if="teamOpened != index" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6 ml-2">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                                <svg v-if="teamOpened == index" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6 ml-2">
                                    <path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z" />
                                </svg>
                            </div>
                            <div :class="teamOpened == index ? 'block' : 'hidden'">
                                <p class="text-gray-900 my-2 text-s">{{team.description}}</p>
                                <a :href="team.link" class="bg-secondary block border border-solid py-2 px-4 text-white rounded-lg cursor-pointer mb-2" target="_blank">Join {{team.team}} Now!</a>
                            </div>
                        </div>
                    </div>
                    <p class="text-xs">Quiz designed by <a href="https://thezone.newcreation.org.sg/varsity" class="underline" target="_blank">Team Varsity</a>, handcrafted by <a href="https://www.github.com/nccvarsity" class="underline" target="_blank">V
                            Coders</a></p>
                </div>
                <div v-if="tags.length == 0">
                    <p class="text-2xl mb-10">You haven't answered any questions.</p>
                    <a href="#quiz" class="block w-full border px-4 py-2 rounded mb-3 bg-blue-500 text-white text-center">Go try some questions!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->
    <script src='app.js'></script>
</body>

</html>