<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Martha Bridge Team Indicator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="icon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <div id="loading" class="container h-screen flex flex-col lg:justify-center p-10 mx-auto max-w-3xl">
            <!-- V-arch logo in SVG! Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
            <svg viewbox="0 0 260 400" class="block max-w-full mx-auto mb-10" width="260" height="400">
                <path id="svg_5" d="m39.621118,123.336283l187.23918,-0.44246l-55.650033,268.105628l-75.939108,0l-55.650039,-267.663167z" stroke-width="4" stroke="#000000" fill="none" />
                <ellipse ry="53.041437" rx="53.041437" id="svg_6" cy="229.129314" cx="61.649256" stroke-width="2" stroke="#000000" fill="none" />
                <path id="svg_7" d="m253.236087,278.112936l-26.955477,-0.152615l0,26.665641l-30.433612,0l0,28.694548l-32.172675,0l0,28.694548l-33.042207,0l0,28.694548" stroke-width="4" stroke="#000000" fill="none" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_9" cy="84.471127" cx="119.369242" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_11" cy="69.272933" cx="163.862509" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_12" cy="102.53275" cx="223.774233" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_13" cy="139.096524" cx="206.813929" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_14" cy="143.722062" cx="141.395611" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_15" cy="162.444478" cx="170.250155" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_16" cy="170.153706" cx="200.646547" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_17" cy="169.713177" cx="128.840581" stroke="#000000" fill="#000" />
                <ellipse ry="2.753296" rx="2.753296" id="svg_18" cy="226.10069" cx="220.470278" stroke="#000000" fill="#000" />
                <ellipse stroke="#000000" ry="4.515406" rx="4.515406" id="svg_19" cy="219.272514" cx="153.950642" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_20" cy="104.546404" cx="203.066767" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_21" cy="86.068849" cx="199.954758" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_22" cy="94.043373" cx="173.697178" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_23" cy="94.626875" cx="142.771586" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_24" cy="115.243937" cx="131.296053" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_25" cy="88.791857" cx="78.780894" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_26" cy="53.587252" cx="134.991564" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_27" cy="55.532256" cx="192.369235" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_28" cy="33.164691" cx="177.781691" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_29" cy="17.410143" cx="148.412104" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_30" cy="145.586028" cx="191.980234" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_31" cy="136.639" cx="167.084159" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_32" cy="152.782549" cx="114.569001" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_33" cy="140.334512" cx="102.120964" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_34" cy="176.51162" cx="98.036452" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_35" cy="194.600174" cx="133.435557" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_36" cy="191.099164" cx="159.109635" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_37" cy="166.39759" cx="238.854874" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_38" cy="182.152137" cx="226.601337" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_39" cy="195.572677" cx="237.882372" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_40" cy="208.020715" cx="200.343759" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_41" cy="217.745744" cx="177.78169" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_42" cy="239.724311" cx="169.612665" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_43" cy="239.724311" cx="142.577084" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_44" cy="264.425885" cx="148.412101" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_45" cy="260.730374" cx="170.196167" fill="#000" />
                <ellipse stroke="#000000" ry="1.197291" rx="1.197291" id="svg_46" cy="246.33733" cx="214.736801" fill="#000" />
                <path stroke-width="2" id="svg_48" d="m90.66393,74.88273c12.44804,9.91953 13.03154,23.92356 11.67004,34.42659c-3.89001,24.31257 -15.17105,40.84512 -16.92155,57.76667c-2.91751,31.7036 5.83501,52.32066 25.67407,71.77072c-16.20838,-3.30651 -40.58578,-18.86655 -43.95713,-47.84714c-0.32417,-26.19274 9.46569,-42.46596 20.03356,-63.99069c10.11403,-17.18088 13.80954,-33.19476 3.50101,-52.12615z"
                    stroke="#000000" fill="none" />
                <path id="svg_49" d="m185.374565,320.92597l-15.94904,-14.58756l-4.47352,-0.5835l-7.78002,-7.19653l0.1945,-8.75252c-0.71317,-2.39884 -1.42634,-4.79768 -2.13951,-7.19652c-1.93548,-0.23316 -3.68361,0.34558 -5.05701,1.3615c-2.71111,0.91777 -5.1724,-0.10053 -7.19652,-1.556l-3.50101,-7.78003c-2.14426,-1.01534 -5.03798,-3.90429 -6.80752,-6.41852c-1.37578,-1.00164 -2.81402,-1.75346 -5.25152,-0.1945l-8.36352,8.94703l-16.33805,22.56207"
                    fill-opacity="null" stroke-width="2" stroke="#000000" fill="none" />
                <path id="svg_50" d="m80.149755,313.14594c2.59334,-2.00984 5.5614,-3.58251 7.78002,-6.02953c2.17816,-2.71111 2.17045,-4.48541 4.47352,-7.19652c2.13475,-1.77251 3.52005,-2.6082 6.02952,-1.94501c2.93712,0.99392 4.50027,2.67484 5.25151,4.66802c1.12597,2.28165 4.93745,2.81459 6.68796,2.723"
                    fill-opacity="null" stroke-width="2" stroke="#000000" fill="none" />
                <path id="svg_51" d="m101.544815,312.95144l8.36353,-4.27903c6.2127,-5.17182 9.42762,-12.27971 12.64254,-19.45005c0.78752,1.46499 1.88731,2.24299 3.11201,2.334c2.07467,-0.03988 6.95975,-6.63739 6.97345,-8.48843c4.40334,9.45914 10.93011,17.10712 18.20633,22.81903l6.52381,-0.71556l14.39304,15.17105"
                    fill-opacity="null" stroke-width="2" stroke="#000000" fill="none" />
                <path id="svg_52" d="m83.456265,333.1795c13.90827,-1.09684 26.56747,-7.6896 39.28912,-7.97454c13.04459,0.56093 20.84307,3.86981 29.64082,9.67685c3.93819,2.25548 8.18864,1.76299 10.8153,1.02068" fill-opacity="null" stroke-width="2"
                    stroke="#000000" fill="none" />
                <path id="svg_53" d="m85.595765,340.57053c12.74899,1.73262 23.37455,-5.77792 31.3146,-6.41854c5.62148,-0.51507 10.55597,7.96321 15.36555,8.94703c3.91799,0.67033 15.45533,-1.71957 19.06105,-1.36151c4.58176,0.33549 8.03936,5.72973 12.05904,7.00202"
                    fill-opacity="null" stroke-width="2" stroke="#000000" fill="none" />
                <path id="svg_54" d="m88.513275,349.71205c5.18431,-2.93951 9.61916,-5.69166 15.36555,-5.44603c8.4337,0.4384 15.49341,10.1824 20.61706,10.30853c4.89583,0.1707 12.35227,-1.5322 17.31055,-1.3615c8.27727,0.42412 15.68019,5.78208 23.14557,9.14152"
                    fill-opacity="null" stroke-width="2" stroke="#000000" fill="none" />
                <path id="svg_55" d="m89.680285,358.46458c7.62,-2.45712 10.99314,-2.35363 15.36555,-1.75052c7.71872,1.83856 8.62999,9.48531 13.22603,12.44803c4.95649,2.62544 8.47654,0.87911 12.05904,0.1945" fill-opacity="null" stroke-width="2"
                    stroke="#000000" fill="none" />
                <path id="svg_56" d="m92.792285,373.24662c4.91546,-5.21936 9.08146,-5.37997 13.80955,-2.91752c5.71783,3.3422 9.24978,10.49409 13.03154,12.83703c3.87097,1.90989 6.93005,-1.05161 10.11403,-2.1395" fill-opacity="null" stroke-width="2"
                    stroke="#000000" fill="none" />
                <ellipse stroke="#000000" ry="4.586118" rx="4.586118" id="svg_57" cy="109.105157" cx="171.185575" fill="none" />
                <path id="svg_59" stroke-width="null" stroke="#000000" fill="none" />
                <ellipse stroke="#000000" ry="5.367288" rx="5.367288" id="svg_63" cy="185.878528" cx="180.430976" fill="none" />
                <ellipse stroke="#000000" transform="rotate(-15 180.31753540039082,186.37602233886716) " ry="1.915762" rx="9.554357" id="svg_64" cy="186.376018" cx="180.317535" fill="none" />
                <path id="svg_69" d="m170.638402,104.953243c-0.49995,1.95813 0.24997,3.6663 0.74992,4.74952c0.9999,1.43735 2.18728,2.06229 3.56214,2.62473" fill-opacity="null" stroke-width="null" stroke="#000000" fill="none" />
                <path id="svg_70" d="m168.076165,106.328102c-0.49995,1.95813 0.24997,3.6663 0.74992,4.74952c0.9999,1.43735 2.18728,2.06229 3.56214,2.62473" fill-opacity="null" stroke-width="null" stroke="#000000" fill="none" />
            </svg>
            <h1 class="text-center text-2xl">Martha Bridge Team Indicator</h1>
            <p class="my-4">
                Take our test and find out what kind of server you are!
            </p>
            <div id="loading-btn" class="mt-24 w-full border border-black px-4 py-2 rounded mb-3 cursor-not-allowed opacity-80 bg-accent text-secondary text-center">Loading</div>
            <div id="start" class="hidden">
                <h2 class="text-2xl mb-4">Tell us your name!</h2>
                <input type="text" v-model="name" class="appearance-none border border-black rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5" autofocus />
                <a href="#quiz" class="block w-full border border-black px-4 py-2 rounded mb-3 bg-accent text-secondary text-center">Let's begin!</a>
            </div>
        </div>
        <div id="quiz" class="hidden">
            <div v-for="(question, index) in questions" :id="'question-'+index" class="container min-h-screen p-10 mx-auto flex flex-col lg:justify-center max-w-3xl">
                <h2 class="text-2xl">{{question.question}}</h2>
                <p v-if="question.hasImages" class="text-xs">(Choose an image)</p>
                <div class="answers my-10" :class="question.hasImages ? 'flex flex-wrap justify-between' : ''">
                    <div v-for="(answer, indexb) in question.answers" :class="question.hasImages ? 'w-almost-1/2 square rounded-lg relative mb-2 bg-black' : ''">
                        <button v-if="!answer.imageurl" class="w-full border border-black px-4 py-2 rounded mb-3" @click="selectAns(question, answer.tag, indexb)" :class="indexb == question.selection? 'bg-accent text-secondary' : 'text-primary' ">{{answer.ans}}</button>
                        <img v-if="answer.imageurl" :src="answer.imageurl" :alt="answer.ans" class="object-contain w-full h-full border-4 cursor-pointer rounded-lg absolute" @click="selectAns(question, answer.tag, indexb)" :class="indexb == question.selection? 'border-yellow-500' : 'border-black' " />
                    </div>
                </div>
                <button v-if="index != questions.length-1" @click="goToNext(index)" class="w-full border border-black px-4 py-2 rounded mb-3 text-primary">Next</button>
                <button v-if="index == questions.length-1" @click="goToResults()" class="w-full border border-black px-4 py-2 rounded mb-3 text-primary">Next</button>
                <button v-if="index != 0" @click="goToPrev(index)" class="text-xs text-primary">Go back</button>
            </div>
            <div id="results" class="container min-h-screen p-10 mx-auto flex flex-col lg:justify-center max-w-3xl">
                <div v-if="tags.length > 0">
                    <div class="">
                        <h1 class="text-xl font-semibold">Hey {{name ? name : 'there'}}!</h1>
                        <p class="text-l">
                            <span v-for="(tag, index) in tagResults">You {{tag.you}}. </span>
                        </p>
                        <h2 v-if="teamResults.length > 0" class="text-xl my-6">We think these teams will be most blessed if you join them:</h2>
                        <div v-for="(team, index) in teamResults" class="border border-solid border-black px-4 py-2 my-2">
                            <div class="font-bold block flex flex-wrap justify-between items-center text-xl" @click="openTeam(index)">
                                {{team.team}}
                                <svg v-if="teamOpened != index" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6 ml-2">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                                <svg v-if="teamOpened == index" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6 ml-2">
                                    <path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z" />
                                </svg>
                            </div>
                            <div :class="teamOpened == index ? 'block' : 'hidden'">
                                <p class="text-gray-900 my-2 text-s">{{team.description}}</p>
                                <a :href="team.link" class="bg-accent block border border-solid border-black py-2 px-4 rounded-lg cursor-pointer mb-2" target="_blank">Join {{team.team}} Now!</a>
                            </div>
                        </div>
                        <h2 class="mt-6">Check out the other teams in Varsity:</h2>
                        <div v-for="(team, index) in teamOthers" class="border border-solid border-black px-4 py-2 my-2">
                            <div class="font-bold block flex flex-wrap justify-between items-center text-xl" @click="openTeam((index + teamResults.length))">
                                {{team.team}}
                                <svg v-if="teamOpened != (index + teamResults.length)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6 ml-2">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                </svg>
                                <svg v-if="teamOpened == (index + teamResults.length)" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current w-6 h-6 ml-2">
                                    <path d="M10.707 7.05L10 6.343 4.343 12l1.414 1.414L10 9.172l4.243 4.242L15.657 12z" />
                                </svg>
                            </div>
                            <div :class="teamOpened == (index + teamResults.length) ? 'block' : 'hidden'">
                                <p class="text-gray-900 my-2 text-s">{{team.description}}</p>
                                <a :href="team.link" class="bg-accent block border border-solid border-black py-2 px-4 rounded-lg cursor-pointer mb-2" target="_blank">Join {{team.team}} Now!</a>
                            </div>
                        </div>
                    </div>
                    <p class="text-xs">Quiz designed by <a href="https://thezone.newcreation.org.sg/varsity" class="underline" target="_blank">Team Varsity</a>, handcrafted by <a href="https://www.github.com/nccvarsity" class="underline" target="_blank">V
                            Coders</a></p>
                </div>
                <div v-if="tags.length == 0">
                    <p class="text-2xl mb-10">You haven't answered any questions.</p>
                    <a href="#quiz" class="block w-full border border-black px-4 py-2 rounded mb-3 text-center">Go try some questions!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->
    <script src='app.js'></script>
</body>

</html>